body {
    margin: 0;
    padding: 0;
    background-color: rgb(190, 183, 183);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(190, 183, 183);
    color: white;
    display: flex;
    justify-content: center;
}

.hdiv {
    width: 519px;
    padding: 20px;
}

#hdiv1 {
    background-color: black;
}

#hdiv2 {
    background-color: black;
    text-align: right;
}

#section-container {
    display: flex;
    color: black;
    justify-content: center;
    flex-wrap: wrap;
}

#section1 {
    background-color: rgb(190, 183, 183);
    width: 312px;
    padding: 20px;
}

#section2 {
    background-color: lightgrey;
    width: 726px;
    padding: 20px;
}

footer {
    background-color: rgb(190, 183, 183);
    color: white;
    display: flex;
    justify-content: center;
}

.foot-div {
    width: 519px;
    padding: 20px;
}

#foot-div1 {
    background-color: black;
}

#foot-div2 {
    background-color: black;
}

img {
    border-radius: 5px;
}
